body {
    background-color: grey;
}

.box {
    width: 200px;
    height: 200px;
    background: lightsalmon;
    margin: 200px auto;

    animation-name: square-to-circle;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}

@keyframes square-to-circle {
    0% {
        border-radius: 0px;
        background-color: #f00;
        transform: rotate(0deg);
    }
    20% {
        border-radius: 50% 0 0 0;
        background-color: #b00;
        transform: rotate(90deg);
    }
    40% {
        border-radius: 50% 0 0 50%;
        background-color: #700;
        transform: rotate(180deg);
    }
    60% {
        border-radius: 50% 0 50% 50% ;
        background-color: #300;
        transform: rotate(270deg);
    }
    80% {
        border-radius: 50%;
        background-color: #000;
        transform: rotate(360deg);
    }
    100% {
        border-radius: 0px;
        background-color: #f00;
        transform: rotate(360deg);
    }
}

.box2 {
    width: 250px;
    height: 250px;
    background: red;
    margin: 200px 250px;

    animation: rotate 2s infinite normal, shift 10s infinite normal, colorChange 4s infinite normal;
    /* animation-name: rotate;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;  */
}

@keyframes rotate {
    0% {
        border-radius: 50% 0 50% 0;
        transform: rotate(0deg);
        /* margin-left: 250px; */
    }
    50% {
        border-radius: 50% 0 50% 0;
        transform: rotate(90deg);
        /* margin-left: 500px; */
    }
    100% {
        border-radius: 0 50% 0 50%;
        transform: rotate(90deg);
        /* margin-left: 500px; */
    }
}

@keyframes shift {
    0% {
        margin-left: -250px;
    }
    10% {
        margin-left: 0px;
    }
    20% {
        margin-left: 0px;
    }
    30% {
        margin-left: 250px;
    }
    40% {
        margin-left: 250px;
    }
    50% {
        margin-left: 500px;
    }
    60% {
        margin-left: 500px;
    }
    70% {
        margin-left: 750px;
    }
    80% {
        margin-left: 750px;
    }
    90% {
        margin-left: 1000px;
    }
    100% {
        margin-left: 1000px;
    }
}

@keyframes colorChange {
    0% {
        background: red;
    }
    25% {
        background: red;
    }
    50% {
        background: maroon;
    }
    75% {
        background: maroon;
    }
    100% {
        background: red;
    }
}