/* General Style */

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: rgb(206, 206, 206);
    color: white;
}

/* Header */
.header {
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(170, 170, 170);

    height: 100%;
    width: 100%;
    border-radius: 20px;

    margin: 0;
    padding: 20px;
}

.header * {
    margin: 10px;
}

/* Rainbow Links */
a.rainbowLink {
    position: relative;
    display: block;
    color: white;
    text-decoration: none;

    margin: 10vh 40vw 0 10vw;
    padding: 0;
}

.rainbowBox {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border-radius: 20px;

    transition: all 300ms;
}

.solidCyan {
    background-color: rgba(0, 255, 255, 1);
    z-index: -5;
}
.transCyan {
    background-color: rgba(0, 255, 255, .5);
    z-index: -1;
}
.rainbowLink:hover .cyanBox {
    transform: translate(10%, -20%);
}

.solidMagenta {
    background-color: rgba(255, 0, 255, 1);
    z-index: -4;
}
.transMagenta {
    background-color: rgba(255, 0, 255, .5);
    z-index: -2;
}
.rainbowLink:hover .magentaBox {
    transform: translate(12%, 8%);
}

.yellowBox {
    background-color: rgba(255, 255, 0, 1);
    z-index: -3;
}
.rainbowLink:hover .yellowBox {
    transform: translate(-8%, 16%);
}


/* Inline Links */
.inlineLink {
    margin: 0;
    color: #ddd;
    text-decoration: none;
}
.inlineLink:hover {
    animation-name: colorCycle;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-timing-function: linear; 
}

@keyframes colorCycle {
	0% {
		color: #ff0;
	}
	33% {
		color: #f0f;
	}
	67% {
		color: #0ff;
	}
	100% {
		color: #ff0;
	}
}


/* Body */
.content {
    background-color: rgb(170, 170, 170);
    border-radius: 15px;

    margin: 40px 50vw 0 5vw;
    padding: 15px;
}
.content > * {
    margin: 6px;
}


/* Nav */
nav {
    background-color:rgb(170, 170, 170);
}
#navList {
    list-style-type: none;
    margin: 0;
    padding: 16px 0;
    overflow: hidden;
    transition: max-height 1.5s;
}
#navList.navHidden {
    max-height: 100vh; /*Can't be hidden in full-width mode*/
}
.navItem {
    font-weight: bold;
    display: inline;
}
.navItem {
    display: inline;
    text-align: center;
    padding: 18px;
}
.navItem:hover {
    background-color:#888;
}
.navItem a {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

#navHamburger {
    display: none;
    color: white;

}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;

    background-color: rgb(170, 170, 170);
    border-radius: 15px 15px 0 0;

    margin: 40px 25vw 0 7vw;
    padding: 15px;
}
footer p {
    margin: 0 0 8px;
}
footer i {
    margin: 4px
}

/* Icon Colors */
.socialMediaLink {
    color: white;
}
.bi-facebook:hover {
    color: #3b5998;
}
.bi-twitter:hover {
    color: #1DA1F2;
}
.bi-github:hover {
    color: #171515;
}
.bi-linkedin:hover {
    color: #0E76A8;
}

/* Background image */
#backgroundImage {
    position: fixed;
    height: 180vh;
    right: -10vw;
    top: -15vh;
    z-index: -10;
}

/* Responsiveness*/
@media only screen and (max-width:620px) { /* Vertical Phone */
    #backgroundImage {
        display: none;
    }
    
    body {
        background-image: url(../images/congrats_on_finding_the_secret_image_name.png);
        background-attachment: fixed;
        background-size: cover;
        display: grid;
        justify-content: center;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
    }

    a.rainbowLink, .content {
        margin: 30px;
    }
    .rainbowBox {
        display: none;
    }

    .footer {
        position: static;
        margin: 30px 30px 0;
    }


    /* Nav */
    #navHamburger {
        display: block;
        padding: 10px;
    }
    #navList {
        padding: 0;
        max-height: 100vh;
    }
    #navList.navHidden {
        max-height: 0;
    }
    .navItem {
        display: block;
        margin: 0;
        padding: 10px 0;
        text-align: center;
    }
}

@media (min-width:621px) and (max-width: 1000px) { /* Tablet / Horizontal Phone */
    
}