/* General Style */

body {
    margin: 0;
    background-color: rgb(206, 206, 206);
    color: white;
}

/* Header */
.header {
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(170, 170, 170);
    border-radius: 20px;

    margin: 10vh 40vw 0 10vw;
    padding: 20px;
}

.header * {
    margin: 10px;
}

/* Body */
.content {
    background-color: rgb(170, 170, 170);
    border-radius: 15px;

    margin: 20px 50vw 0 5vw;
    padding: 15px;
}
.content * {
    margin: 6px;
}


/* Nav */
#nav {
    list-style-type: none;
    margin: 0;
    padding: 16px 0;
    overflow: hidden;
    background-color:cornsilk;
}
.menu-item {
    font-weight: bold;
    display: inline;
}
.menu-item a {
    display: inline;
    color: black;
    text-align: center;
    padding: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
.menu-item a:hover {
    background-color:rgb(219, 213, 185);
}

/* Background image */
#backgroundImage {
    position: fixed;
    height: 200vh;
    right: -10vw;
    top: -30vh;
    z-index: -1;
}